/* Base styling variables. These can also be imported into the component SASS files /////////// */

/* Fonts ////////////////////////////// */
//$font-stack: 'Stag Sans Web', Arial, Helvetica, sans-serif;
$round-font-stack: 'Roboto Slab', 'Open Sans', Arial, Helvetica, sans-serif;
$square-font-stack: 'Roboto Slab', 'Open Sans', Courier, 'Courier New', serif;
$fontawesome: 'FontAwesome';

$open-sans-thin: 100;
$open-sans-light: 300;
$open-sans-book: 400;
$open-sans-medium: 500;
$open-sans-semibold: 600;
$open-sans-bold: 700;

$font-family:'Open Sans', 'Roboto Slab', serif; 
$font-stack:'Open Sans', 'Roboto Slab', serif; 

/* Colours //////////////////////////// */
$body-bg:  rgb(255, 255, 255); // #FFFFFF
$dark-gray: rgb(35,31,32); // #231F20
$medium-gray: rgb(73, 80, 87); // #495057
$medium-light-gray: rgb(134, 142, 150); // #868e96
$light-gray: rgb(224, 226, 227); // #E0E2E3

$form-control-border-color: rgb(130, 137, 140); // #82898c
$touch-select-bg-color: lighten(saturate(adjust-hue($form-control-border-color, 6), 0.04), 23.73);

$orange: rgb(242, 115, 33); // #f27321
$orange-inactive: lighten(desaturate($orange, 0.23), 13.92); // #F59D63
$orange-lighten-bg: lighten(desaturate($orange, 14.50), 39.02); // #FAE9DE

$teal: rgb(1, 147, 163); // #009ca4

$white: rgb(255, 255, 255); // #FFF
$black: rgb(0, 0, 0); // #000

$red: rgb(230, 21, 9); // #cc1e00

$placeholder-color: rgb(134, 142, 150); // #868e96

/* Tags /////////////////////////////// */
$haf-tags: ':hover, :active, :focus';
