<div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  <button mat-button >Basic</button>
<ul>
  <li><a routerLink="">HOME</a></li>
  <li><a routerLink="">ABOUT</a></li>
</ul>

<app-controls></app-controls>
<app-map [menuMargin]=110 (loadPlayer)="appCharacter.loadPlayer($event)"></app-map>
<app-character #appCharacter [menuMargin]=110></app-character>

<router-outlet></router-outlet>
</div>
