@import './src/assets/css/base-vars';

/* - Global Footer //////////////////// */
.map-style {
    div.left-tile {
    background: url(../../assets/img/tileLEFT.png) no-repeat center center;
    background-size: contain;
    display: block;
    list-style-type: none;
  }
  div.right-tile {
    background: url(../../assets/img/tileRIGHT.png) no-repeat center center;
    background-size: contain;
    display: block;
    list-style-type: none;
  }
}