.character-style {
    div.player {
    background: url(../../assets/img/zaldo4.png) no-repeat center center;
    background-size: contain;
    ddisplay: block;
    width: 100px;
    height: 100px;
   // margin-top: 400px;
   // margin-left: 400px;
    position: absolute; 
  }
}