<div class="character-style" style="z-index: 1000;">
  <div id="Player" class="player"  
  [style.left.px]="posX" 
  [style.top.px]="posY" 
  [style.width.px]="tileWidth"  
  [style.height.px]="tileHeight" >
  </div>
</div>