@import './src/assets/css/base-vars';
@import './src/assets/css/global-map';

/* - Global Footer //////////////////// */
.map-style {
    div.tile-left {
    background: url(../../assets/img/tileLEFT.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }
  div.tile-right {
    background: url(../../assets/img/tileRIGHT.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }
  div.tile-top {
    background: url(../../assets/img/tileTOP.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }
  div.tile-bottom {
    background: url(../../assets/img/tileFLOOR.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }


  div.tile-bottom-right {
    background: url(../../assets/img/tileTOPLEFT.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }

  div.tile-bottom-left {
    background: url(../../assets/img/tileTOPLEFT.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }

  div.tile-top-right {
    background: url(../../assets/img/tileTOPLEFT.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }

  div.tile-top-left {
    background: url(../../assets/img/tileTOPLEFT.png);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
  }


  span {
    list-style-type: none;
    position: absolute;
  }
  div.backing-color {
    background: url(../../assets/img/backing.png);
    background-size: contain;
    display: block;
    position: absolute;
    z-index: -1000;
  }
}