


<div id="map" class="map-style">
  <!--add backing color-->
  <div class="backing-color"
    [style.left.px]="0"
    [style.top.px]="menuMargin"
    [style.width.px]="(tileCountX + 2) * tileSize"
    [style.height.px]="((tileCountY + 2) * tileSize)">
  </div>


  <!--CREATE WALLS-->

  <!--draw left wall-->
  <span  [style.left.px]="item.posX" [style.top.px]="item.posY"  *ngFor="let item of leftTiles">
    <div class="tile-left" [style.width.px]="item.tileWidth"  [style.height.px]="item.tileHeight" ></div>
  </span>
  <!--draw roof-->
  <span  [style.left.px]="item.posX" [style.top.px]="item.posY"  *ngFor="let item of roofTiles">
    <div class="tile-top" [style.width.px]="item.tileWidth"  [style.height.px]="item.tileHeight" ></div>
  </span>
  <!-- draw right wall-->
  <span  [style.left.px]="item.posX" [style.top.px]="item.posY"  *ngFor="let item of rightTiles">
    <div class="tile-right" [style.width.px]="item.tileWidth"  [style.height.px]="item.tileHeight" ></div>
  </span>
  <!-- draw floor -->
  <span  [style.left.px]="item.posX" [style.top.px]="item.posY"  *ngFor="let item of floorTiles">
    <div class="tile-bottom" [style.width.px]="item.tileWidth"  [style.height.px]="item.tileHeight" ></div>
  </span>

  <!--CREATE CORNERS-->
  <span  [style.left.px]="item.posX" [style.top.px]="item.posY"  *ngFor="let item of cornerTiles">
    <div class="tile-bottom" [style.width.px]="item.tileWidth"  [style.height.px]="item.tileHeight" ></div>
  </span>
  <!-- <span *ngFor="let item of leftTiles"><div class="left-tile"></div></span> -->
</div>
